version: 2.1

jobs:

  - Build:
      docker: 
        - image: amazon/aws-cli
      steps:
        - checkout
        - run: "echo 'Hello'"


workflows:
  CICD-Workflow:
    jobs:
      - Build