version: 2.1

jobs:

    Create-Infrastructure:
      docker: 
        - image: amazon/aws-cli
      steps:
        - checkout
        - run: 
            name: "Creating Cloudformation Stack"
            command: "aws cloudformation deploy --stack-name Section4 --template-file cloudTemplate.yml --region us-east-1"

    Configure-Infrastructure:
      docker: 
        - image: python:3.7-alpine3.11
      steps:
        - checkout
        - add_ssh_keys:
            fingerprints: ["94:36:fb:99:30:ef:fa:14:df:f2:ab:34:01:f0:72:4c"]
        - run:
            name: "Installing Ansible"
            command: apk add --update ansible
        - run:
            name: "Generating Inventory File"
            command: sh get_instances_list.sh
        - run:
            name: "Configuring Servers"
            command: sh ansible_start.sh     
workflows:
  CICD-Workflow:
    jobs:
      - Create-Infrastructure
      - Configure-Infrastructure:
          requires:
            - Create-Infrastructure