version: 2.1

jobs:

    Create-Infrastructure:
      docker: 
        - image: amazon/aws-cli
      steps:
        - checkout
        - run: 
            name: "Creating Cloudformation Stack"
            command: "aws cloudformation deploy --stack-name Section4 --template-file cloudTemplate.yml --region us-east-1"
        - run:
            name: "Generating Inventory File"
            command: sh get_instances_list.sh
        - save_cache:
            key: inventory
            paths: .

    Configure-Infrastructure:
      docker: 
        - image: circleci/node:13.8.0
      steps:
        - checkout
        - restore_cache:
            keys:
              - inventory
        - add_ssh_keys:
            fingerprints: ["c4:65:29:ae:25:26:ef:49:25:2d:54:e2:f2:87:40:f0"]
        - run:
            name: "Installing Ansible"
            command: apk add --update ansible    
        - run:
            name: "Configuring Servers"
            command: sh ansible_start.sh     
workflows:
  CICD-Workflow:
    jobs:
      - Create-Infrastructure
      - Configure-Infrastructure:
          requires:
            - Create-Infrastructure